h3{
  margin: 10px 0;
}

h4{
  margin: 8px 0;
}

a{
  text-decoration: none;
  color: #1d9bf5;
}

.lingvo-translation-box {
  display: none;
  position: fixed;
  height: 100vh;
  padding: 10px;
  top: 0;
  right: 0;
  width: 45%;
  background-color: #f1f1f1;
  text-decoration: none;
  text-align: left;
  border: none;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  z-index: 405;
  overflow: auto;
}
/*.Paragraph:after{
  content: " ";
}*/
.dictionary ol {
  counter-reset: item;
  list-style: none;
  padding-inline-start: 20px;
}
.dictionary > ol {
    padding-inline-start: 0px;
}

.dictionary ol li {
  counter-increment: item;
  margin-bottom: 0.5em;
  display: list-item;
  position: relative;
}

.dictionary ol li:before {
  content: counter(item);
  font-weight: bold;
  display: inline-block;
  text-align: right;
  margin-right: 0.5em;
}

.dictionary ol li .Paragraph{
  display: inline-block;
}

.dictionary ol ol li:before {
  content: counter(item) ")";
  font-weight: normal;
  display: inline-block;
  width: 1em;
  text-align: right;
  /*margin-right: 0.5em;*/
  position: absolute;
  right: 100%;
  margin-right: 6px;
}

.dictionary ol ol ol li:before {
  content: "(" counter(item, lower-alpha) ") ";
  font-weight: normal;
  position: absolute;
  right: 100%;
  margin-right: 6px;
}

.Paragraph span {
  /*font-weight: bold;*/
}

.ExampleItem{
  color: #818181;
}

.Transcription{
  display: inline-block;
}
.Sound{
  display: inline-block;
}
.Transcription::before {
  content: "[";
  color: #818181;
}

.Transcription::after {
  content: "]";
  color: #818181;
}
.Sound path {
  fill: white;
  stroke: #1D9BF5;
}
.Sound{
  width: 29px;
  height: 25px;
}

abbr{
  color: #00cc00;
  text-decoration: none;
  /*margin-right: 10px;*/
}

.Paragraph{
  /*display: inline-block;*/
}

.soundUrl{
  cursor: pointer;
}

.Comment{
  display: inline-block;
}

.dictionary + .dictionary {
  border-top: 1px solid #cbcbcb;
  margin-bottom: 15px;
}
.CardRefs{
  /*display: none;*/
}


/*.plus-button,
.minus-button {
  background-color: #ccc;
  color: #fff;
  border: none;
  padding: 5px 15px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}*/

.plus-button, .minus-button{
  display: inline-block;
  margin: 4px 4px 4px 4px;
  padding: 6px 12px;
  border: none;
  background: #f1f1f1;
  color: #333;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease;
}

.plus-button:hover, .minus-button:hover{
  background-color: #e0e0e0;
}

.plus-button {
  position: absolute;
  right: 50px; 
}

.minus-button {
  position: absolute;
  right: 10px;
}

/* ========================= temp ================*/
.box{
  position: fixed;
  height: 100vh;
  padding: 10px;
  top: 0;
  right: 0;
  width: 45%;
  background-color: #f1f1f1;
  text-decoration: none;
  text-align: left;
  border: none;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  z-index: 400;
  overflow: auto;
}